@model BlogoSphere.Models.Comment
@using Microsoft.AspNet.Identity

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
@{
	Layout = null;
	bool auth = User.Identity.IsAuthenticated;
}


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

<div class="form-horizontal mt-5" id="Comment">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @if (auth)
    {
        <div class="form-group" id="myform">
            @*<h4>Comment</h4>*@
            <div class="offset-md-2 col-md-8">
                @Html.TextAreaFor(model => model.Body, new { @class = "form-control", @placeholder = "Write a comment..." })
                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group text-right">
            <div class="offset-md-2 col-md-8">
                <input type="submit" value="Submit" class="btn btn-success" />
                <input type="reset" value="Clear" class="btn btn-danger" />
            </div>
        </div>

    }
    else
    {
        <div class="form-group">
            @*<h4>Comment</h4>*@
            <div class="offset-md-2 col-md-8">
                @Html.TextAreaFor(model => model.Body, new { @class = "form-control", @placeholder = "You need to be logged in to write a comment.", @disabled = "disabled" })
            </div>
        </div>
        <div class="form-group text-right">
            <div class="offset-md-2 col-md-8">
                <input type="submit" value="Submit" class="btn btn-success" disabled />
                <input type="reset" value="Clear" class="btn btn-danger" disabled />
            </div>
        </div>
    }
</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}