@model IEnumerable<BlogoSphere.Models.Comment>
@using Microsoft.AspNet.Identity

@{
	Layout = null;	
}

<div class="container">
	@foreach (var item in Model)
	{
	<div class="row mb-2 shadow bg-light text-light">
		<div class="col-9 pr-0 pl-0">
            <div class="p-1 bg-secondary">
                @Html.DisplayFor(modelItem => item.Created)               
            </div>
			<div class="text-dark p-2">
				@Html.DisplayFor(modelItem => item.Body)
			</div>
		</div>
		<div class="col-3 text-right bg-secondary">
			<div>@*Profile Image here*@</div>
            <div class="">				
				@Html.DisplayFor(modelItem => item.User.UserName)
            </div>
			<div class="">
				@if (User.IsInRole("Admin") || item.UserId == User.Identity.GetUserId())
				{
					<a href="@Url.Action("Edit", new { id = item.Id })"><i class="fas fa-edit text-light"></i></a>
					<a href="@Url.Action("Delete", new { id = item.Id })"><i class="fas fa-trash-alt text-light"></i></a>
				}
			</div>
		</div>
		<br />
	</div>
	}
</div>
