@model BlogoSphere.Models.Post

@{
	ViewBag.Title = "Index";
}

<div class="container mt-5">
	<div class="">
		<div class="h1 offset-md-2 mb-3">
			@Html.DisplayFor(modelItem => Model.Title)
		</div>
		<div class="d-inline-flex row w-100 bg-light p-3">
			<div class="d-inline-flex flex-wrap col-md-7">
				@foreach (var tag in Model.Tags)
				{
					<div class="rounded-pill bg-success pr-3 pl-3 pt-1 pb-1 mr-2 mb-2">@tag.Name</div>
				}
			</div>
			<div class="col-md-5 text-right">
				Created @Model.Created.ToString("dd MMMM yyyy, HH:mm") | Viewed @Html.DisplayFor(modelItem => Model.Views) times
			</div>
		</div>
	</div>
	<hr />
	<div class="offset-md-2 col-md-8">
		<p>@Html.DisplayFor(modelItem => Model.Body)</p>
	</div>
</div>

<hr />
<div class="offset-md-2 col-md-8">@Html.Action("CreateComment","Comment")</div>
