@model BlogoSphere.Models.Post
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
    var charsLeft = 512;
    if (Model.Body != null)
    {
        charsLeft -= Model.Body.Length;
    }
}

<div class="container mt-5">
    <div class="">
        <div class="col-12 mb-3 d-inline-flex pt-2 pb-2 rounded-bottom shadow" style="background-color: #f6f4e8">
            <div class="h1 col-8" style="color:#e59560">
                <small><a href="@Url.Action("Details", "Blog", new { Model.Blog.Id })" style="color: #1d3124">@Html.DisplayFor(m => Model.Blog.Title)</a> > </small>
				@Html.DisplayFor(modelItem => Model.Title)
            </div>
            @if (User.Identity.IsAuthenticated && (bool)ViewBag.IsOwner)
            {
                <div class="col-4 pt-2 pb-2 text-right">
                    @Html.ActionLink("Edit this Post", "Edit", "Post", new { postid = Model.Id }, new { @class = "btn text-light", @style = "background-color: #1d3124" })
                    @Html.ActionLink("Delete this Post", "Delete", "Post", new { postid = Model.Id }, new { @class = "btn btn-danger" })
                </div>
            }
        </div>
		<div class="col-12 d-inline-flex row p-3 rounded m-0 shadow" style="background-color: #bacec1">
			<div class="d-inline-flex flex-wrap col-md-6">
			@foreach (var tag in Model.Tags)
			{
				<div class="rounded-pill pr-3 pl-3 pt-1 pb-1 mr-2 mb-2" style="background-color: #e59560">@tag.Name</div>
			}
			</div>
			<div class="col-md-6 text-right text-nowrap">
				<div>Created @Html.DisplayFor(modelItem => Model.Created) | Viewed @Session[Model.Id + "views"] times</div>
				@if (User.Identity.GetUserId() != Model.Blog.Author.Id || !User.Identity.IsAuthenticated)
				{
					<div>Author @Model.Blog.Author.UserName</div>
				}
			</div>
			@if (Model.Image != null)
			{
				<div class="col-12 text-center">
					<img class="shadow img-thumbnail img-fluid" src="@Model.Image" />
				</div>
			}
			<div class="col-12 mt-3">
				<p class="lead shadow p-2 bg-white" disabled style="white-space:pre-wrap;">@Html.DisplayFor(modelItem => Model.Body)</p>
			</div>
		</div>
    </div>
</div>

<div class="offset-md-2 col-md-8 mt-5">@Html.Action("Display", "Comment", new { postid = Model.Id })</div>
<div class="offset-md-2 col-md-8">@Html.Action("Create", "Comment", new { postid = Model.Id })</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}