@model BlogoSphere.Models.Blog

@{
	ViewBag.Title = "Details";
}

<div>
	<dl class="">
		
		<dd>
			<h2 style="color:coral">@Html.DisplayFor(model => model.Title)</h2>
		</dd>

		<dd>
			@Html.DisplayFor(model => model.Body)
		</dd>

		<dd>
			@Html.DisplayFor(model => model.Created)
		</dd>

	</dl>
</div>
@*<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
	@Html.ActionLink("Back to List", "Index")
</p>*@
<hr />
<div class="">@Html.Action("List", "Post", new { blogid = Model.Id })</div>