@model IEnumerable<BlogoSphere.Models.Blog>

@{
    ViewBag.Title = "Index";
}

<br />
<h2 style="color:coral">Blog Page</h2>

@foreach (var item in Model)
{
    <div class="container customCont">
        <div class="row d-inline-flex w-100">
            <div class="firstCont col-4">
                <div class="d-inline-flex bg-danger rounded m-1 p-1" id="BL">@item.Title</div>

            </div>

            <div class="col-8 text-right">
                <a href="@Url.Action("Details", "Blog", new { id = item.Id })" class="btn btn-dark" id="VP">View Posts</a>
                <a href="@Url.Action("Create", "Post", new { blogid = item.Id })" class="btn btn-success" id="CP">Create Post</a>
                <a href="@Url.Action("Edit", "Blog", new { id = item.Id })" class="btn btn-primary" id="EP">Edit Blog</a>
            </div>
        </div>
        <div class="row d-inline-flex w-100">
            <div class="secondCont col-8">
                <a href="#" class="btn btn-success" id="PN">@item.Posts.Count Posts</a>
                <div class="d-inline-flex bg-primary rounded m-1 p-1">
                @{
                    int totalViews = 0;
                    foreach (var post in item.Posts)
                    {
                        totalViews += post.Views;
                    }
                }

                @totalViews Views</div>

                <div class="d-inline-flex bg-primary rounded m-1 p-1">
                    @foreach (var post in item.Posts)
                    {
                        foreach (var tag in post.Tags)
                        {
                            <div>@tag.Name, </div>
                        }
                    }
                </div>
            </div>
            <div class="container col-4 text-right">
                <div> @Html.DisplayFor(modelItem => item.Created)</div>
            </div>
        </div>
    </div>
}

