@model IEnumerable<BlogoSphere.Models.Post>

@*@{
    Layout = null;
}*@


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Blog.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Views)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Blog.Title)
            </td>
            <td>
                <a href=@Url.Action("Index", "Post", new { Postid = item.Id } )>

                    @Html.DisplayFor(modelItem => item.Title)
                </a>                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Views)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
        </tr>
    }

</table>
