@model IEnumerable<BlogoSphere.Models.Blog>

@{
    ViewBag.Title = "BrowseViews";
}

<h2>Browse by Views</h2>

@Html.ActionLink("Browse with Tags", "BrowseTagTabs")

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Views)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Created)
         </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
<th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Views)
    </td>
    <td>
        <a href=@Url.Action("Details", "Blog", new { id = item.Id } )>

            @Html.DisplayFor(modelItem => item.Title)
        </a>
    </td>   
    <td>
        @Html.DisplayFor(modelItem => item.Created)       
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Author.UserName)
    </td>
</tr>
}
</table>
