@{
	var cont = ViewContext.RouteData.Values["Controller"].ToString();
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - BlogoSphere!</title>
	@Styles.Render("~/Content/css")
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	@Scripts.Render("~/bundles/modernizr")

</head>
<body class="pt-0">
	<div class="container pl-2">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top container rounded-bottom">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
			<a href="@Url.Action("Index", "Home")" class="navbar-brand d-inline-flex">
				<img src="~/Content/images/bs-logo.png" width="40" height="40" /> <div class="h2 text-danger">logoSphere!</div>
				@*<img src="~/Content/images/png-transparent-blogger-social-media-logo-center-for-global-environmental-education-blog-text-rectangle-orange.png" width="40" class="rounded"/>*@
			</a>

			<div class="d-none d-lg-block d-xl-block"></div>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="nan navbar-nav mr-auto">
					@* Marks current controller as active *@
					@*<li class="nav-item @(cont == "Home" ? "active" : "")">
						<a>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</a>
					</li>*@
					<li class="nav-item @(cont == "Blog" ? "active" : "")">
						<a>@Html.ActionLink("My Blogs", "Index", "Blog", null, new { @class = "nav-link" })</a>
					</li>
					<li class="nav-item @(cont == "Post" ? "active" : "")">
						<a>@Html.ActionLink("Create Blog", "Create", "Blog", null, new { @class = "nav-link" })</a>
					</li>
				</ul>

				<div class="col-md-5 ml-md-auto">
					@using (Html.BeginForm("DisplayBlogPostFor", "Blog", FormMethod.Get))
					{
						<div class="form-inline w-100">
							@Html.TextBox("SearchBox", "", new { id = "SearchBox", @class = "form-control w-75", @placeholder = "Aa..." })
							<button class="btn btn-danger">Search</button>
						</div>
					}
				</div>
				@Html.Partial("_LoginPartial")

			</div>
        </nav>
	</div>

	<div class="container body-content">
		<br />
		<div class="mb-5"></div>
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
